# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# Build
build/
DerivedData/
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
!Podfile.lock

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# OS
.DS_Store
*.pem

# App packaging
*.app
*.ipa
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
/.build
/Packages
xcuserdata/
